<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TweeSport</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="page">
    <header class="header">
        <div class="container header__container">
            <h1 class="logo">TweeSport</h1>
            <ul class="menu">
                <li class="menu__item">
                    <a href="/" class="menu__link btn btn-green-outline">Главная</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="info">
            <div class="container">
                <h2 class="info__header">Информация</h2>
                <div class="list">
                    <h3 class="list__header">Что вас интересует?</h3>
                    <div class="list__item">
                        <h4 class="list__item-header">Составы команд</h4>
                        <a href="/teams" class="btn btn-green">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="timetable">
            <div class="container timetable__container">
                <h2 class="timetable__header">
                    <span>Расписание ближайших турниров</span>
                    <span>Возможное время проведения соревнований, график работы</span>
                </h2>
                <a href="/timetables" class="btn btn-green timetable__more">Подробнее</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <h2 class="logo footer__logo">TweeSport</h2>
            <div class="social">
            </div>
        </div>
    </footer>
</div>
</body>
</html>
